body{
  background-color: #30384b;
  color:#eee;
  width: 100%;
  height: 100%;
}

main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
}

.action-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  width:50px;
  background-color: transparent;
  color: white;
  border:1px solid white; 
  display: inline-block;
  cursor: pointer ;
  padding: -10px;
  border-radius: 10px;
  margin: 5px;
}

  button:hover {background-color: #4b5877}

button:active {
  background-color: #4b5877;
  box-shadow: 0 2px #000;
  transform: translateY(4px);
}

.play-pause{
  margin-top: 10px;
  text-align: center;
}

.lengths{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.time-sets{
  padding: 0px;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.btn-arrow{
  width: 40px;  
}



